body {
	background-color: #cccccc;
}

table {
	margin: auto;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16 {
	position: relative;
	height: 150px;
	width: 150px;
	margin: 5px;
}

#front1, #front2, #front3, #front4, #front5, #front6, #front7, #front8, #front9, #front10, #front11, #front12, #front13, #front14, #front15, #front16, #back1, #back2, #back3, #back4, #back5, #back6, #back7, #back8, #back9, #back10, #back11, #back12, #back13, #back14, #back15, #back16 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#front1, #front2, #front3, #front4, #front5, #front6, #front7, #front8, #front9, #front10, #front11, #front12, #front13, #front14, #front15, #front16 {
	background-color: gray;
}
